﻿.list-file {
    list-style: none;
    padding: 0;
}

    .list-file li {
        float: left;
        display: block;
        margin: 9px 0px 2px 12px;
        width: calc(50% - 18px);
        opacity: 0.9;
        position: relative;
    }

        .list-file li:hover {
            opacity: 1;
        }

        .list-file li a {
            white-space: normal;
            text-align: center;
            font-size: 12px;
            line-height: 15px;
            overflow: hidden;
            padding: 0;
            display: block;
            border: none;
            background: #F1F1F1;
        }

            .list-file li a > div:first-child {
                width: 50px;
                float: left;
                height: 50px;
            }

            .list-file li a > div:last-child {
                padding: 3px 5px;
                height: 50px;
                width: calc(100% - 50px);
                float: left;
                text-align: left;
            }

            .list-file li a i {
                font-size: 33px;
                margin: 8px 0;
                color: #fff;
            }

    .list-file button {
        position: absolute;
        right: -5px;
        top: -5px;
        display: none;
    }

    .list-file li:hover button {
        display: block;
    }

    .list-file .list-file-image {
        background: #E9E9E9;
    }