<ul class="list-file mt-5">
    <li ng-repeat="file in vm.files">
        <a href="{{vm.basepath + 'arquivo/downloadFile?codCript=' + file.CodCrip}}" target="_blank" class="btn btn-default">
            <div class="{{vm.corIcone(file)}}" ng-if="!vm.tipoImagem(file)">
                <i class="icon-file fa {{vm.verificaIconeArquivo(file)}}" ></i>
            </div>

            <div class="list-file-image" ng-if="vm.tipoImagem(file)">
                <img ng-src="{{file.Link}}" width="50" height="auto" >
            </div>
            <div>
                {{file.Nome ? file.Nome : file.name}}
            </div>
        </a>
        <button ng-click="vm.excluirArquivo(file.Nome)" ng-if="editar" class="btn btn-danger btn-xs">
            <i class="fa fa-trash"></i>
        </button>
    </li>
</ul>