﻿
<div class="col-sm-6 col-sm-offset-3">
	<h3>Componente File</h3>
	<br/>
	<div class="panel panel-default">
		<div class="panel-heading">Exemplo</div>
		<div class="panel-body">
		  	<ngf-file files="vm.files" ng-if="!template"></ngf-file>
		</div>
	</div>
</div>